# ============================
# ✅ SecureQ Flutter App .gitignore
# ============================

# ============================
# 📦 Miscellaneous
# ============================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ============================
# 💻 IntelliJ related
# ============================
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# ============================
# 🐦 Flutter/Dart/Pub related
# ============================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/
.generated/

# ============================
# 🛡️ Archivos sensibles
# ============================
*.env
*.pem
*.jks
*.keystore
*.p12
local.properties
android/key.properties

# ============================
# 📱 Android build artifacts
# ============================
/android/app/debug
/android/app/profile
/android/app/release

# ============================
# 🧩 Symbolication and obfuscation
# ============================
app.*.symbols
app.*.map.json
